/* RESET */
* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.__size-tit {
  font-size: 2.5rem;
}

.__size-subtit {
  font-size: 2rem;
}

.__size-parr {
  font-size: 1rem;
}

/* G R I L L A  index*/
#grilla {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: " header" " servicios" " servicios" " footer";
}

/** areas de grilla index**/
.encabezado {
  grid-area: header;
}

#servicios {
  grid-area: servicios;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pie {
  grid-area: footer;
}

/** G R I L L A  S E R V I C I O S**/
#grilla-servicios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "header header" "seccion seccion" "footer footer";
}

/** areas de grilla-servicios**/
.encabezado {
  grid-area: header;
}

.cuerpo {
  grid-area: seccion;
  margin-top: 70px;
}

.pie {
  grid-area: footer;
}

/* LAYOUT */
.bg-mi-burguer {
  background-color: gray;
}

.encabezado {
  background-image: url(../assets/imgheader.jpg);
  height: 89px;
  background-size: cover;
  background-position: left;
  position: sticky;
  top: 0;
  z-index: 99;
}

/* color boton*/
.bg-mi-color {
  background-color: #8df547;
}

.navbar-nav {
  align-items: flex-end;
}

.nav-link {
  color: #a4ff67;
}

ul {
  list-style-type: none;
}

.txt-logo {
  color: #0080af;
  font-size: 2rem;
  display: flex;
}

.nav-superior {
  display: flex;
  align-content: center;
}

/*logo*/
.logo {
  width: 140px;
  border-radius: 100%;
  display: flex;
}

li {
  list-style-type: none;
}

.titulo-color {
  color: white;
  font-size: 2rem;
}

.articulo {
  display: flex;
  flex-direction: column;
}

.titulo_servicios {
  display: flex;
}
.titulo_seccion {
  display: flex;
}
.titulo-servi {
  display: flex;
  justify-content: center;
  text-align: center;
}

.presentacion {
  font-size: 3em;
  font-weight: 700;
  color: black;
}

.tarjetas {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.size-txt {
  font-weight: 600;
}

.servicios2 {
  padding-top: 124px;
  display: flex;
  justify-content: center;
}

.articulo {
  display: flex;
  flex-direction: column;
}

/*color fondo*/
body {
  background-color: whitesmoke;
  flex-wrap: wrap;
}

.enlace {
  text-decoration: none;
  font-weight: 600;
  color: #cdf570;
}

.muestra {
  width: 500px;
}

.card {
  position: unset;
  margin: 1px;
  justify-content: center;
  height: 600px;
  margin-top: 100px;
  max-width: 30rem;
}
.card-text {
  text-align: justify;
}

/*color y estilo titulos*/
.parrafo-uno {
  color: #0080af;
  font-size: 2rem;
  top: 75px;
}

.titulo-servi {
  color: #0080af;
  font-size: 2rem;
}

/* MAIN SERVICIOS */
.animaciones {
  overflow: hidden;
}

.contenedor-soluciones {
  display: flex;
  align-items: center;
  width: 100%;
}
.contenedor-soluciones h2 {
  color: #0080af;
}
.contenedor-st {
  display: flex;
  align-items: center;
  width: 100%;
}
.contenedor-st h2 {
  color: #0080af;
}
.contenedor-gamer {
  display: flex;
  align-items: center;
  width: 100%;
}
.contenedor-gamer h2 {
  color: #0080af;
}
.contenedor-diseno {
  display: flex;
  align-items: center;
  width: 100%;
}
.contenedor-diseno h2 {
  color: #0080af;
}

.seccion-seg {
  justify-content: right;
  max-width: 500px;
}
.seccion-st {
  justify-content: right;
  max-width: 500px;
}
.seccion-gamer {
  justify-content: right;
  max-width: 500px;
}
.seccion-diseno {
  justify-content: right;
  max-width: 500px;
}

.descripcion {
  width: 100%;
  height: auto;
  margin: 10px;
}

/** M A I N  N O S O T R O S **/
.seccion-nosotros {
  text-align: center;
  margin-top: 60px;
}

iframe {
  width: auto;
  height: auto;
}

/** M A I N  C O N T A C T O **/
.seccion-contacto {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
}

.redes-contacto {
  color: #a4ff67;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
.redes-contacto:hover {
  transform: scale(1.5);
  color: blueviolet;
  text-shadow: black;
}

.form {
  display: flex;
  justify-content: center;
}
.form-email {
  display: flex;
  justify-content: space-between;
}
.form-textarea {
  text-align: left;
}
.form-area {
  display: flex;
  justify-content: right;
}

.submit {
  text-align: right;
}
.submit input {
  background-color: #a4ff67;
}
.submit input:hover {
  background-color: gray;
}

/** M A I N  A L I A N Z A **/
.menu-alianzas {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
  align-items: center;
}

.alianzas {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 500px;
}

.marcas img {
  justify-content: center;
  width: 100%;
  margin: 5px;
}

footer {
  background-image: url(../assets/imgheader.jpg);
  background-size: cover;
  height: 330px;
  background-position: left;
  font-weight: bolder;
  color: #0080af;
  display: flex;
}

.nav_pie {
  margin: 0 0 0 10px;
}

.link-redes {
  display: flex;
  width: 100%;
  justify-content: right;
  margin-top: 10px;
}
.link-redes a {
  color: #a4ff67;
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  transition: all 0.4s ease-in-out;
}
.link-redes a:hover {
  transform: scale(1.2);
}

.navegacion-inicio {
  font-size: 2rem;
  text-decoration: none;
  color: #a4ff67;
}
.navegacion-inicio:hover {
  color: blueviolet;
}
.navegacion-footer {
  text-decoration: none;
}

/*color txt*/
.color-txt {
  color: white;
  padding: 0;
}

/*color de redes*/
.enlace-pie {
  color: #a4ff67;
  text-decoration: none;
}

/* MEDIA QUERY */
/* T A B L E T*/
@media (min-width: 481px) and (max-width: 768px) {
  .tarjetas {
    flex-direction: column;
    justify-content: center;
  }
  .contenedor-soluciones {
    justify-content: center;
    flex-direction: column;
  }
  .contenedor-st {
    justify-content: center;
    flex-direction: column;
  }
  .contenedor-gamer {
    justify-content: center;
    flex-direction: column;
  }
  .contenedor-diseno {
    justify-content: center;
    flex-direction: column;
  }
  .marcas {
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .logo {
    width: 74px;
  }
}
/* M O B I L E*/
@media (min-width: 320px) and (max-width: 480px) {
  .tarjetas {
    justify-content: center;
    flex-direction: column;
  }
  .contenedor-soluciones {
    justify-content: center;
    flex-direction: column;
  }
  .contenedor-st {
    justify-content: center;
    flex-direction: column;
  }
  .contenedor-gamer {
    justify-content: center;
    flex-direction: column;
  }
  .contenedor-diseno {
    justify-content: center;
    flex-direction: column;
  }
  .marcas {
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .logo {
    width: 74px;
  }
}

/*# sourceMappingURL=style.css.map */
