footer{
    @include fondo-footer;
}

.nav_pie{
    margin:0 0 0 10px;
}


.link{

    &-redes{
        display: flex;
        width: 100%;
        justify-content: right;
        margin-top: 10px;

        a{
            color: $color-link;
            text-decoration: none;
            font-size: 28px;
            width: 60px;
            height: 60px;
            transition: all .4s ease-in-out;
            
            &:hover{
                transform: scale(1.2);

            }
        }
    }
        
}


.navegacion{
    &-inicio{
        font-size: 2rem;
        text-decoration: none;
        color: $color-link;

        &:hover{
            color: blueviolet;
        }
    }

    &-footer{
        text-decoration: none;
    }
}

/*color txt*/
.color-txt{
    color: white;
    padding: 0;
}

/*color de redes*/


.enlace-pie{
    color: $color-link;
    text-decoration: none;
}