
.bg-mi-burguer{
    background-color: #011557;
}

.encabezado{
    @include fondo-header;
    z-index: 99;
}

/* color boton*/
.bg-mi-color{
   background-color: #8df547;
}

.navbar-nav{
    justify-content: right;
}

.nav-link{
    color: $color-link;
}

ul{
    list-style-type: none;
}

.txt-logo{
    @include texto-logo;
}
.nav-superior{
    display: flex;
    align-content: center;

}

/*logo*/
.logo{
    @include border-logo;
}


li{
    list-style-type: none;
    
} 


.titulo-color{
    color: white;
    font-size: 2rem;
}

