.articulo{
    display: flex;
    flex-direction: column;
}

.titulo{
    &_servicios{
        display: flex;
    }
    &_seccion{
        display: flex;
    }
    &-servi{
        @include flex-just;
        text-align: center;
    }
}

.presentacion{
    font-size: 3em;
    font-weight: 700;
    color: black;
    
}

.tarjetas{
    @include flex-just;
    margin-bottom: 40px;
    flex-wrap: wrap;

}

.size-txt{
    font-weight: 600;
}

.servicios2{
    padding-top: 124px;
    @include flex-just;

}
.seccion_internet{
    background-image: url(../assets/titulonet.png);
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 180px;
}

.card_planes_promo{
    color: #ffffff;
    margin-right: 30px;
    border-radius: 10px;
    padding: 10px;
    background: rgb(120,124,195);
    background: linear-gradient(43deg, rgba(120,124,195,0.75) 9%, rgba(123,66,200,0.75) 50%, rgba(152,0,207,0.75) 100%), url(../assets/cardhogar.jpg) no-repeat center;
    background-size: cover;
    margin-top: 345px;
    height: 280px;

    & a{
        color: yellow;
    }
}

.card_corpo_promo{
    color: #ffffff;
    margin-left: 30px;
    border-radius: 10px;
    padding: 10px;
    background: rgb(120,124,195);
    background: linear-gradient(43deg, rgba(120,124,195,0.65) 9%, rgba(123,66,200,0.65) 50%, rgba(152,0,207,0.65) 100%), url(../assets/cardcorpo.jpg) no-repeat center;
    background-size: cover;
    height: 280px;
    margin-top: 345px;

    & a{
        color: yellow;
    }
}

.card_planes{
    color: #ffffff;
    margin-right: 30px;
    border-radius: 10px;
    padding: 10px;
    background: rgb(120,124,195);
    background: linear-gradient(43deg, rgba(120,124,195,1) 9%, rgba(123,66,200,1) 50%, rgba(152,0,207,1) 100%);
    margin-top: 345px;
    height: 280px;
}

.card_corpo{
    color: #ffffff;
    margin-left: 30px;
    border-radius: 10px;
    padding: 10px;
    background: rgb(120,124,195);
    background: linear-gradient(43deg, rgba(120,124,195,1) 9%, rgba(123,66,200,1) 50%, rgba(152,0,207,1) 100%);
    margin-top: 345px;
}

.card_cuerpo{
    text-align: left;
}

.card-link{
    text-decoration: none;
    transition: all 1s;
    &:hover{
        transform: scale(1.1);
    }
}
.articulo{
    display: flex;
    flex-direction: column;
}

.container_soluciones{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    height: 873px;
}
.tit_solucion{
    padding-top: 40px;
    font-size: 3rem;
    font-family: "bevan";
    color: #2266c3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}

.parr_descripcion{
    display:flex;
    flex-direction: column;
    justify-content: right;
    width: 50%;
    align-self: center;
}
.parr_solucion{
    color: rgb(77, 77, 77);
    text-align: justify;
    max-width: 600px;
}

.container_gamer{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    height: 873px;
}
.tit_gamer{
    padding-top: 40px;
    font-size: 3rem;
    font-family: "bevan";
    color: #2266c3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.parr_descripcion{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-self: center;
}

/*#carouselExample{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}*/

.carrusel {
    width: 50%;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.carrusel-track {
    display: flex;
    width: calc(100%);
}

.carrusel-item {
    width: 33.33%;
    flex-shrink: 0;
}

.carrusel-item img {
    width: 100%;
    display: block;
}

button{
    color: grey;
}

.visually-hidden{
    color: grey;
}


/*color fondo*/
body{
    background: #2266c3;
    background: radial-gradient(circle, rgba(34,102,195,1) 49%, rgba(45,119,253,1) 81%);
    flex-wrap: wrap;
}
.enlace{
    text-decoration: none;
    font-weight: 600;
    color: #0080af;
}

.muestra{
    width: 500px;
}


.card{
    position: unset;
    margin: 1px;
    justify-content: center;
    height: 600px;
    margin-top: 100px;
    max-width: 30rem;

    &-text{
        text-align: justify;
    }

}


/*color y estilo titulos*/
.parrafo-uno{
    @include color-size;
    top: 75px;
    
}

.titulo-servi{
    @include color-size;

}
/* MAIN SERVICIOS */
.animaciones{
    overflow: hidden;
}

.contenedor{
    &-soluciones{
        display: flex;
        align-items: center;
        width: $w-100;

        & h2{
            color: #ffffff;
        }
    }
    &-st{
        display: flex;
        align-items: center;
        width: $w-100;
       
        & h2{
            color: #ffffff;
        }    
    }
    &-gamer{
        display: flex;
        align-items: center;
        width: $w-100;

        & h2{
            color: #ffffff;
        }
    }
    &-diseno{
        display: flex;
        align-items: center;
        width: $w-100;

        & h2{
            color: #ffffff;
        }
    }
}

.seccion{
    &-seg{
        justify-content: right;
        max-width: 500px;
    }
    &-st{
        justify-content: right; 
        max-width: 500px; 
    }
    &-gamer{
        justify-content: right;
        max-width: 500px;
    }
    &-diseno{
        justify-content: right;
        max-width: 500px;
    }
}

.__size-parr{
    color: #ffffff;
}
.descripcion{
    width: 100%;
    height: auto;
    margin: 10px;
   
}

/** M A I N  N O S O T R O S **/
.us{
    display: flex;
    justify-content: center;
}
.seccion-nosotros{
    align-items: center;
    text-align: justify;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin-top: 60px;
}

iframe{
    @include w-h(auto,auto)
}
/** M A I N  C O N T A C T O **/

.seccion-contacto{
    @include flex-just;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
}
.redes{
    &-contacto{
        color: $color-link;
        font-weight: 700;
        text-decoration: none;
        transition: all .4s ease-in-out;

        &:hover{
            transform: scale(1.5);
            color: blueviolet;
            text-shadow: black;

        }
    }
}


.form{
    @include flex-just;

    &-email{
        display: flex;
        justify-content: space-between;
    }
    &-textarea{
        text-align: left;
    }
    &-area{
        display: flex;
        justify-content: right;
    }
}

.submit{
    text-align: right;

    & input{
    background-color: $color-link;

        &:hover{
            background-color: gray;
        }
    }
}



//* main internet

.container_net{
    display: flex;
    justify-content: center;
}

.seccion_internet{

    & a{
    margin-top: 120px;
    }
}

.tit_net{
    font-size: 2rem;
    color: #ffffff;
    padding-top: 100px;
    font-family: "bevan";
}

.plan_hogar6{
    font-weight: bolder;
    font-size: 2rem;
}

.plan_hogar_desc{
    font-weight: bolder;
    font-size: 2rem;

}