.articulo{
    display: flex;
    flex-direction: column;
}

.titulo{
    &_servicios{
        display: flex;
    }
    &_seccion{
        display: flex;
    }
    &-servi{
        @include flex-just;
        text-align: center;
    }
}

.presentacion{
    font-size: 3em;
    font-weight: 700;
    color: black;
    
}

.tarjetas{
    @include flex-just;
    margin-bottom: 40px;
    flex-wrap: wrap;

}

.size-txt{
    font-weight: 600;
}

.servicios2{
    padding-top: 124px;
    @include flex-just;

}

.articulo{
    display: flex;
    flex-direction: column;
}
/*color fondo*/
body{
    background-color: whitesmoke;
    flex-wrap: wrap;
}
.enlace{
    text-decoration: none;
    font-weight: 600;
    color: #cdf570;
}

.muestra{
    width: 500px;
}


.card{
    position: unset;
    margin: 1px;
    justify-content: center;
    height: 600px;
    margin-top: 100px;
    max-width: 30rem;

    &-text{
        text-align: justify;
    }

}

/*color y estilo titulos*/
.parrafo-uno{
    @include color-size;
    top: 75px;
    
}

.titulo-servi{
    @include color-size;

}
/* MAIN SERVICIOS */
.animaciones{
    overflow: hidden;
}

.contenedor{
    &-soluciones{
        display: flex;
        align-items: center;
        width: $w-100;

        & h2{
            color: #0080af;
        }
    }
    &-st{
        display: flex;
        align-items: center;
        width: $w-100;
       
        & h2{
            color: #0080af;
        }    
    }
    &-gamer{
        display: flex;
        align-items: center;
        width: $w-100;

        & h2{
            color: #0080af;
        }
    }
    &-diseno{
        display: flex;
        align-items: center;
        width: $w-100;

        & h2{
            color: #0080af;
        }
    }
}

.seccion{
    &-seg{
        justify-content: right;
        max-width: 500px;
    }
    &-st{
        justify-content: right; 
        max-width: 500px; 
    }
    &-gamer{
        justify-content: right;
        max-width: 500px;
    }
    &-diseno{
        justify-content: right;
        max-width: 500px;
    }
}

.descripcion{
    width: 100%;
    height: auto;
    margin: 10px;
   
}

/** M A I N  N O S O T R O S **/

.seccion-nosotros{
    text-align: center;
    margin-top: 60px;
}

iframe{
    @include w-h(auto,auto)
}
/** M A I N  C O N T A C T O **/

.seccion-contacto{
    @include flex-just;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
}
.redes{
    &-contacto{
        color: $color-link;
        font-weight: 700;
        text-decoration: none;
        transition: all .4s ease-in-out;

        &:hover{
            transform: scale(1.5);
            color: blueviolet;
            text-shadow: black;

        }
    }
}


.form{
    @include flex-just;

    &-email{
        display: flex;
        justify-content: space-between;
    }
    &-textarea{
        text-align: left;
    }
    &-area{
        display: flex;
        justify-content: right;
    }
}

.submit{
    text-align: right;

    & input{
    background-color: $color-link;

        &:hover{
            background-color: gray;
        }
    }
}

/** M A I N  A L I A N Z A **/

.menu-alianzas{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
    align-items: center;
}

.alianzas{
    @include flex-just;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 500px;
}


.marcas{
    & img{
        justify-content: center;
        width: $w-100;
        margin: 5px;

    }
}


