@mixin texto-logo {
    color: #ffffff;
    font-size: 2rem;
    display: flex;

}

@mixin border-logo {
    width: 140px;
    border-radius: 100%;
    display: flex;
}

@mixin fondo-header {
    background: #2266c3;
    background: radial-gradient(circle, rgba(34,102,195,1) 49%, rgba(45,119,253,1) 81%);
    height: 89px;
    background-size: cover;
    background-position: left;
    position: sticky;
    top: 0;
}

@mixin flex-just {
    display: flex;
    justify-content: center;
}

@mixin color-size {
    color: #ffffff;
    font-size: 2rem;
}

@mixin fondo-footer {
    background: rgb(34,102,195);
    background: radial-gradient(circle, rgba(34,102,195,1) 49%, rgba(45,119,253,1) 81%);
    height: 330px;
    background-position: left;
    font-weight: bolder;
    color: #0080af;
    display: flex;
}

@mixin just-direct {
    justify-content: center;    
    flex-direction: column;
}

@mixin w-h($w, $h){
    width: $w;
    height: $h;
}
