/* T A B L E T*/
@media  (min-width: 481px) and (max-width: 768px){
    .tarjetas{
        flex-direction: column;
        justify-content: center;
    }

    .contenedor{
        &-soluciones{
            @include just-direct;
        }
        &-st{
            @include just-direct;
        }
        &-gamer{
            @include just-direct;
        }
        &-diseno{
            @include just-direct;
        }
    }
    
    .marcas{
        @include just-direct;
        width: $w-100;
    }

    .logo{
        width: 74px;
    }


}

/* M O B I L E*/
@media (min-width:320px) and (max-width:480px){
    .tarjetas{
        @include just-direct;
    }


    .contenedor{
        &-soluciones{
            @include just-direct;
        }
        &-st{
            @include just-direct;
        }
        &-gamer{
            @include just-direct;
        }
        &-diseno{
            @include just-direct;
        }
    }
   

    .marcas{
        @include just-direct;
        width: $w-100;
    }

    .logo{
        width: 74px;
    }
}

