/* T A B L E T*/
@media  (min-width: 481px) and (max-width: 768px){
//index

    .seccion_internet{
        @include just-direct;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: initial;
    }


    .card_planes_promo{
        height: 245px;
        margin: 240px 0 0 0;
    }

    .card_corpo_promo{
        margin: 10px 0 0 0;
    }

    .container_soluciones{
        @include just-direct;
    }

    .navbar-collapse{
        background-color: #00364bc7;
        text-align: center;
    
    }


    //servicios
    .contenedor{
        &-soluciones{
            @include just-direct;
        }
        &-st{
            @include just-direct;
        }
        &-gamer{
            @include just-direct;
        }
        &-diseno{
            @include just-direct;
        }
    }
    

    .logo{
        width: 74px;
    }
    .nav-link{
        color: white;
    }

    .parr_descripcion{
        justify-content: center;
        width: auto;
    }

    .tit_solucion{
        text-align: center;

    }

    .parr_solucion{
        text-align: center;
    }

}

/* M O B I L E*/
@media (min-width:320px) and (max-width:480px){
//index

.seccion_internet{
    @include just-direct;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: initial;
}

.navbar-collapse{
    background-color: #3b4045c7;

}

.card_planes_promo{
    height: 245px;
    margin: 240px 0 0 0;
}

.card_corpo_promo{
    margin: 10px 0 0 0;
}

.container_soluciones{
    @include just-direct;
}



.parr_descripcion{
    justify-content: center;
    width: auto;
}

.tit_solucion{
    text-align: center;

}

.parr_solucion{
    text-align: center;
}

.navbar-collapse{
    background-color: #00364bc7;
    text-align: center;
}
    //servicios
    .contenedor{
        &-soluciones{
            @include just-direct;
        }
        &-st{
            @include just-direct;
        }
        &-gamer{
            @include just-direct;
        }
        &-diseno{
            @include just-direct;
        }
    }
   

    .marcas{
        @include just-direct;
        width: $w-100;
    }

    .logo{
        width: 74px;
    }

    body{
        background-color: floralwhite;
        flex-wrap:wrap;
    }
    .nav-link{
        color: white;
    }
    .navbar-collapse{
        background-color: #00364bc7;
        text-align: center;
    }

    //footer

    footer{
        @include just-direct;
        height: auto;
        align-items: center;
        text-align: center;
    }
}

